# temporary files
*~

# eclipse files
.project
.settings/

xml/avail.txt
xml/commentary.txt
xml/links.mk
xml/persnames.mk
xml/texts.mk
xml/sen.mk
xml/ar.mdb.m[id]
xml/greek.mdb.m[id]
xml/it.mdb.m[id]
xml/la.mdb.m[id]
xml/ar.wmdb.m[id]
xml/greek.wmdb.m[id]
xml/it.wmdb.m[id]
xml/la.wmdb.m[id]
xml/ar.freqs.m[id]
xml/greek.freqs.m[id]
xml/it.freqs.m[id]
xml/la.freqs.m[id]
xml/ar.inflex.m[id]
xml/greek.inflex.m[id]
xml/it.inflex.m[id]
xml/la.inflex.m[id]
xml/ar.lex*
xml/en.lex*
xml/greek.lex*
xml/it.lex*
xml/la.lex*
xml/sor.pg
xml/wcount.txt
xml/ids.env
xml/ids.mk
xml/system_config
xml/Perseus.pm
xml/ptext.db
xml/ptext.m[id]
xml/catalog.txt
xml/texts.out
xml/meta.out
xml/words.db
xml/colls.db
xml/abo.db
xml/lex.db
xml/catalog.db
xml/perscoll.data
xml/*.corp
xml/*.corp.m[id]
